/* Place CSS styles here */
body {
    background: linear-gradient(#2f7634, #ffe97a);
    font-family: "Unlock", serif;
}

h1{
    font-size: 5rem;
    text-align: center;
    color:#ffffff;
    text-shadow: 1px 1px 2px hwb(115 3% 77%);
}

h2{font-size: 50px;
    text-align: center;
    color:#ffffff;
}

.background-image-with-text{
    background-image: url(../img/Pouring\ Tea\ Two.jfif);
    padding-top: 100px;
    padding-bottom: 100px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.header-container{
    padding:5px 5px;
    border-radius:0 0 20px 20px; 
    box-shadow:0 2px 8px #0b290a;

}

.paragraph-one{
    text-align: left;
    font-family: "Roboto Slab", serif;
    margin: 50px; 
    color: #ffffff;
    font-size: 15px;
}

.paragraph-two{
    text-align: left;
    font-family: "Roboto Slab", serif;
    margin: 50px; 
    color: #ffffff;
    font-size: 15px;
}

.paragraph-three{
    text-align: left;
    font-family: "Roboto Slab", serif;
    margin: 50px; 
    color: #ffffff;
    font-size: 15px;
}

img {
    width: 520px; 
    margin-bottom: 25px; 
    box-shadow:0 2px 8px #0b290a;

}
.rosebud-image{
    text-align: center;
}

.ingredients-header{
    background-color: transparent;
    padding: -10px 20px; 
    width: 40%; 
    border-radius: 10px; 
    font-family: "Roboto Slab", serif;
    font-size: 20px; 
    color: #ffffff;
    border: 5px solid #ffffff;   
    margin: 0 auto; 
    margin-bottom: 25px; 

}

.instructions-header{
    background-color: transparent;
    padding: -10px 20px; 
    width: 40%; 
    border-radius: 10px; 
    font-family: "Roboto Slab", serif;
    font-size: 20px; 
    color: #ffffff;
    margin: 0 auto; 
    border: 5px solid #ffffff;
}

h3{
    text-align: left;
    color: #ffffff; 
    font-size: 25px; 
    margin: 50px;
    margin-bottom: -30px;
}

h4{
    text-align: center;
    font-size: 25px; 
}

.text{
    background-color: transparent;
    padding: 5px; 
    width: 80%; 
    border-radius: 10px; 
    font-family: "Roboto Slab", serif;
    color: #ffffff;
    margin-top: 30px;
    margin-bottom: 30px;
    box-shadow: 0 3px 10px #0b290a;
    margin-left: 120px; 
}
