/* Place CSS styles here */
body {
    background: linear-gradient(#2f7634, #ffe97a);
    font-family: "Unlock", serif;
}

h1{
    font-size: 5rem;
    text-align: center;
    color:#ffffff;
    text-shadow: 1px 1px 2px hwb(115 3% 77%);
}

h2{font-size: 50px;
    text-align: center;
    color:#ffffff;
}

.background-image-with-text{
    background-image: url(../img/Pouring\ Tea\ Two.jfif);
    padding-top: 100px;
    padding-bottom: 100px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.header-container{
    padding:5px 5px;
    border-radius:0 0 20px 20px; 
    box-shadow:0 2px 8px #0b290a;

}
.paragraph-one{
    text-align: left;
    font-family: "Roboto Slab", serif;
    margin: 50px; 
    color: #ffffff;
    font-size: 15px;
}
.paragraph-two{
    text-align: left;
    font-family: "Roboto Slab", serif;
    margin: 50px; 
    color: #ffffff;
    font-size: 15px;
}
.paragraph-three{
    text-align: left;
    font-family: "Roboto Slab", serif;
    margin: 50px; 
    color: #ffffff;
    font-size: 15px;
}
.align-right {
    float: right;
    margin-left: 15px; 
    width: 30%; 
    margin: 20px; 
    border: 5px solid #ffffff;
    border-radius: 25px;

}
.ingredients-header{
    background-color: #7ba34e;
    padding: -10px 20px; 
    width: 30%; 
    border-radius: 10px; 
    font-family: "Roboto Slab", serif;
    font-size: 20px; 
    color: #ffffff;
    float: left;
    margin-left: 50px; 
    border: 5px solid #ffffff;    
}
.instructions-header{
    background-color: #7ba34e;
    padding: -10px 20px; 
    width: 30%; 
    border-radius: 10px; 
    font-family: "Roboto Slab", serif;
    font-size: 20px; 
    color: #ffffff;
    float: left;
    margin-left: 50px;
    border: 5px solid #ffffff;
}
h3{
    text-align: left;
    color: #ffffff; 
    font-size: 25px; 
    margin: 50px;
    margin-bottom: -30px;

}
h4{
    text-align: center;
    font-size: 25px; 
}
.text{
    background-color: transparent;
    padding: 5px; 
    width: 60%; 
    border-radius: 10px; 
    font-family: "Roboto Slab", serif;
    color: #ffffff;
    float: center;
    margin-top: 30px;
    margin-bottom: 30px;
    margin-left: 30px;
    box-shadow: 0 3px 10px #0b290a;
}