/* Place CSS styles here */
body {
    background: linear-gradient(#2f7634, #ffe97a);
    font-family: "Unlock", serif;
}

h1{
    font-size: 5rem;
    text-align: center;
    color:#ffffff;
    text-shadow: 1px 1px 2px #0c3b08;
}

h2{font-size: 50px;
    text-align: center;
    color:#ffffff;
}

.background-image-with-text{
    background-image: url(../img/Pouring\ Tea\ Two.jfif);
    padding-top: 100px;
    padding-bottom: 100px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.header-container{
    padding:5px 5px;
    border-radius:0 0 20px 20px; 
    box-shadow:0 2px 8px #0b290a;

}

.paragraph-one{
    text-align: left;
    font-family: "Roboto Slab", serif;
    margin: 50px; 
    color: #ffffff;
    font-size: 15px;
}

.paragraph-two{
    text-align: left;
    font-family: "Roboto Slab", serif;
    margin: 50px; 
    color: #ffffff;
    font-size: 15px;
}

.paragraph-three{
    text-align: left;
    font-family: "Roboto Slab", serif;
    margin: 50px; 
    color: #ffffff;
    font-size: 15px;
}

img {
    width: 520px; 
    margin-bottom: 25px; 
    box-shadow:0 2px 8px #0b290a;
}

.rosebud-image{
    text-align: center;
}

.ingredients-header{
    background-color: transparent;
    padding: -10px 20px; 
    width: 40%; 
    border-radius: 10px; 
    font-family: "Roboto Slab", serif;
    font-size: 20px; 
    color: #ffffff;
    border: 5px solid #ffffff;   
    margin: 0 auto; 
    margin-bottom: 25px; 
}

.instructions-header{
    background-color: transparent;
    padding:20px 30px;
    width: 40%; 
    border-radius: 10px; 
    font-family: "Roboto Slab", serif;
    font-size: 20px; 
    color: #ffffff;
    margin: 0 auto; 
    border: 5px solid #ffffff;
    margin-bottom: 30px;
}

h3{
    text-align: left;
    color: #ffffff; 
    font-size: 25px; 
    margin: 50px;
    margin-bottom: -30px;
}

h4{
    text-align: center;
    font-size: 25px; 
}

.text{
    background-color: transparent;
    padding: 5px; 
    width: 80%; 
    border-radius: 10px; 
    font-family: "Roboto Slab", serif;
    color: #ffffff;
    margin-top: 30px;
    margin-bottom: 30px;
    box-shadow: 0 3px 10px #0b290a;
    margin-left: 120px; 
}

.bottom{
    text-align: center;
    padding: 10px; 
    margin-top: 5px; 
    margin-bottom: 5px; 
}

.footer {
  background-color: #46844a;
  color: white;
  padding: 10px;
  text-align: center;
}

.link-capsule{
    display: inline-flex;
    align-items: center;
    justify-content: center;
    background-color: #006400; 
    border-radius: 50px; 
    padding: 10px 25px; 
    margin: 0 auto; 
    text-decoration: none; 
    color: yellow !important;
    font-family: "Unlock", serif;
    font-weight: bold;
    text-transform: uppercase; 
    letter-spacing: 1px; 
    font-size: 14px; 
    line-height: normal;
    height: auto; 
    cursor: pointer; 
    transition: all 0.2s ease; 
}

.link-capsule:hover{
    background-color: #ffffff; 
    border-color: #006400; 
    transform: scale(1.01); 
    color: #000000 !important; 
}

.link-capsule span{ 
    position: relative; 
    top: 0px; 
}

.link-capsule svg{
    flex-shrink: 0;
}

.ending-text{
    background-color: transparent;
    padding: 10px; 
    font-family: "Roboto Slab", serif;
    color: #ffffff;
    margin-top: 20px;
    box-shadow: 0 3px 10px #0b290a;
}

.ending{
    text-align: center;
    font-size: 20px;
    margin-left: 20px; 
    margin-right: 20px; 
}